/* Icons */

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}

.clock-icon {
  width: 16px;
  height: 16px;
  fill: var(--blue-500);
}

.price-icon {
  width: 11px;
  height: 18px;
  fill: var(--cyan);
}

/* Images */

.underline {
  height: 1px;
  width: 100%;
  background-color: var(--blue-800);
}

.creator-image {
  width: 33px;
  height: 33px;
}

/* Text */

.main-heading {
  font-size: 22px;
  line-height: 125%;
  letter-spacing: 0;
  font-weight: 600;
  color: var(--white);
  transition: color 250ms ease-in-out;
}

.descreption {
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0;
  font-weight: 300;
}

.price-text {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0;
  font-weight: 700;
  color: var(--cyan);
}

.time-text,
.creator-name {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0;
  font-weight: 400;
}

.highlight-name {
  color: var(--white);
  transition: color 250ms ease-in-out;
}

.main:hover .main-heading,
.main:focus .main-heading,
.main:hover .highlight-name,
.main:focus .highlight-name {
  color: var(--cyan);
}
