.main {
  width: 350px;
  padding: 24px;

  background-color: var(--blue-900);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

.image {
  width: 100%;
  height: 302px;

  background-image: url("../images/main-image.png");
  border-radius: 8px;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 24px;
}

.extra-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.creator-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}